pre.ttydoc {
    font-family: "Ubuntu Mono";
    font-size: 12pt;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
body.ttydoc {
    margin: 0;
    padding: 0;
    color: #AAAAAA;
    background-color: #000000;
}
a.ttydoc {
    color: #00AAAA;
    text-decoration: none;
}
a.ttydoc:hover {
    color: #000000;
    background-color: #AAAAAA;
}
@font-face {
    font-family: "Ubunto Mono";
    src: url(UbuntuMono-R.ttf);
}

